.letterBody {
  white-space: nowrap;
  overflow: auto;
  padding: 0px;
  margin: 15px;
  margin-bottom: 0px;
  width: calc(100% - 30px);
  display: flex;
}

.letterBody::-webkit-scrollbar {
  height: .5rem;
  background-color: #000;
}

.letterBody::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: .375rem;
}

.letterBody .letter {
  padding: 10px !important;
  min-width: 90px !important;
  border: unset !important;
  background: #1d1d1d;
  border-radius: unset;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.letterBody .letter:hover {
  background: #4d4d4d;
}

.letterBody .letter.select {
  border-bottom: 3px solid #fff !important;
}