.item {
    color: #000;
}

.itemBody {
  border: 1px solid #000;
  margin-bottom: 30px;
  padding: 10px;
  overflow: hidden;
  margin-top: 10px;
  color: #000;
}

.item .one,
.item .two {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}

.item .one {
  background-color: rgb(236, 236, 236);
  color: #000;
}

.item .two {
  background-color: #dbdbdb;
  color: #000;
}