body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 240) !important;
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-width: 960px !important;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16;
}

.font-size-22 {
  font-size: 22px;
}

.row-bottom {
  align-items: flex-end;
}

.padding-rl-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-rl-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-rl-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top_10 {
  margin-top: -10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.bg-00 {
  background-color: #000000;
}

.font-bold {
  font-weight: bold;
}

.font-size-30 {
  font-size: 30px;
}

.image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

div {
  cursor: default;
}