.pageBody {
  color: #e8e8e8 !important;
  background: #474542 !important;
  padding: 20px;
}

.dateText {
  width: 100%;
  flex: 1;
  text-align: center;
  background-color: #1a1a1a;
  margin: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.btns {
  margin-left: 5px;
}

.eBtn {
  width: 100px;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 10px;
}

.btn-dark {
  border: 0.3px solid #fff !important;
}